__pycache__/
*.py[cod]
*.ipynb_checkpoints/

.venv/
.env


.DS_Store
Thumbs.db

data/csv_odis_ashwin
data/csv_odis_og
data/csv_T20Is_male
data/names.csv
data/cricket_grounds.csv
data/people.csv

stat-testing.ipynb
.streamlit/secrets.toml
EOF


